<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <style>
      table,
      td,
      th {
        border: 2px solid black;
      }
    </style>
  </head>
  <body>
    <h2>This is the data for all the users</h2> 
    <a href="/user/add"><button>Add User!</button></a><br><br>
    <table>
      <tr>
        <th>User Id</th>
        <th>UserName</th>
        <th>Email</th>
        <th>password</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% for ( user of result ) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td>
            <a href="/user/<%= user.id %>/edit"><button>Edit</button></a>
        </td>
        <td>
          <a href="/user/<%= user.id %>/delete"><button>Delete User</button></a>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
